<div class="mat-elevation-z8">
  <h1 style="display: flex;justify-content: center">Employees</h1>
  <mat-grid-list cols="4" rowHeight="100px" [formGroup]="searchForm">
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput formControlName="search">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-label style="padding-right: 40px">Role</mat-label>
      <mat-select style="width: 30%;" formControlName="type">
        <mat-option value="ALL">
          ALL
        </mat-option>
        <mat-option *ngFor="let role of roles" [value]="role">
          {{role}}
        </mat-option>
      </mat-select>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-label style="padding-right: 40px">Wage</mat-label>
      <mat-select style="width: 200px" formControlName="greater">
        <mat-option value="GREATER">
          GREATER
        </mat-option>
        <mat-option value="LESSER">
          LESSER
        </mat-option>
      </mat-select>
      <input type="number" style="width: 200px" matInput formControlName="wage">
    </mat-grid-tile>
  </mat-grid-list>
  <table mat-table class="full-width-table" matSort aria-label="Elements"
         style="width: 90%;justify-content: center;margin: 0 auto">
    <!-- Id Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell (click)="fetchData()" *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
    </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell (click)="fetchData()" *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
    </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="emailAddress">
      <th mat-header-cell (click)="fetchData()" *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{row.emailAddress}}</td>
    </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell (click)="fetchData()" *matHeaderCellDef mat-sort-header>Username</th>
      <td mat-cell *matCellDef="let row">{{row.username}}</td>
    </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell (click)="fetchData()" *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let row">{{row.type}}</td>
    </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="wage">
      <th mat-header-cell (click)="fetchData()" *matHeaderCellDef mat-sort-header>Wage</th>
      <td mat-cell *matCellDef="let row">{{row.wage}}</td>
    </ng-container>
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell (click)="fetchData()" *matHeaderCellDef mat-sort-header>Phone Number</th>
      <td mat-cell *matCellDef="let row">{{row.phoneNumber}}</td>
    </ng-container>
    <ng-container (click)="fetchData()" matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-stroked-button style="color: #00D318; padding-top: 20px" (click)="addNewEmployee()">New</button>
      </mat-header-cell>
      <mat-cell (click)="fetchData()" *matCellDef="let row">
        <button mat-button (click)="goToEdit(row.username)">Edit</button>
        <button mat-button style="color: red" (click)="delete(row.username)">Delete</button>
      </mat-cell>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="my-table-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="totalCount"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 style="width: 90%;margin: 0 auto"
                 (page)="pageChanged($event)"
                 aria-label="Select page">
  </mat-paginator>
</div>
