<div style="margin: 20px;" class="content">
  <mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile>
      <mat-button-toggle-group [(ngModel)]="criteria" aria-label="Font Style">
        <mat-button-toggle value="Any">Any</mat-button-toggle>
        <mat-button-toggle value="Chargeable">Chargeable</mat-button-toggle>
        <mat-button-toggle value="Incomplete">Incomplete</mat-button-toggle>
        <mat-button-toggle value="Completed">Completed</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-grid-tile>

    <mat-grid-tile><mat-label>Display orders only for table:</mat-label></mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-select [(ngModel)]="selectedTable" name="food">
        <mat-option *ngFor="let table of tables" [value]="table">
          {{table}}
        </mat-option>
      </mat-select>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-button color="primary" (click)="search()"><mat-icon>search</mat-icon>Search</button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-button color="accent" (click)="prevPage()"><mat-icon>skip_previous</mat-icon></button>
      Page {{currentPage}}/{{totalPages}}
      <button mat-button color="accent" (click)="nextPage()"><mat-icon>skip_next</mat-icon></button>
    </mat-grid-tile>
  </mat-grid-list>

  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div *ngFor=" let order of displayedOrders" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
        <mat-card-title>Order for table {{order.layoutTable.displayNumber}}</mat-card-title>
        </mat-card-header>
        <img src="../../assets/order.jpg" alt="Photo of a Shiba Inu" mat-card-image>
        <mat-divider inset></mat-divider>
        <mat-card-content>
          <p style="margin-top: 5px">Total order price: {{order.totalPrice}} RSD</p>
          <p>Order is {{order.completed === true ? "completed" : "incomplete"}}</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button color="accent" (click)="openOrderDetails(order)">Details</button>
          <button mat-button color="primary" (click)="chargeOrder(order.id)" *ngIf="!order.completed">Charge</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
