.example-card {
  max-width: 300px;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-container .mat-form-field {
  width: 220px;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 350px;
  overflow: auto;
}

table {
  width: 100%;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}
