<h1 mat-dialog-title>Order details</h1>
<div mat-dialog-content>

  <p style="margin-top: 10px">
    Order items:
  </p>

  <div class="example-table-container">
    <table mat-table [dataSource]="orderItems" class="mat-elevation-z8" >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.menuItem.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.orderStatus}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef> Note </th>
        <td mat-cell *matCellDef="let element"> {{element.noteIn}}</td>
      </ng-container>

      <ng-container matColumnDef="serve">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <button mat-button color="accent" *ngIf="element.orderStatus == 'RECEIVED'" (click)="serveOrderItem(element.id)">
          Serve
        </button></td>
      </ng-container>

      <ng-container matColumnDef="charge">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <button mat-button color="primary" *ngIf="element.orderStatus == 'SERVED'" (click)="chargeOrderItem(element.id)">
          Charge
        </button></td>
      </ng-container>

      <ng-container matColumnDef="cancel">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">  <button mat-button color="warn" *ngIf="element.orderStatus != 'CHARGED' && element.orderStatus != 'DENIED' && element.orderStatus != 'CANCELLED'" (click)="cancelOrderItem(element.id)">
          Cancel
        </button></td>
      </ng-container>

      <ng-container matColumnDef="deny">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> <button mat-button color="warn" *ngIf="element.orderStatus == 'PLACED'" (click)="denyOrderItem(element.id)">
          Deny
        </button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedOrderItemColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedOrderItemColumns;"></tr>
    </table>
  </div>

  <section style="margin-top: 20px">
    <p>Total price: {{data.order.totalPrice}} RSD</p>
  </section>
</div>
<div mat-dialog-actions>
  <button mat-button  cdkFocusInitial [mat-dialog-close]="data">Ok</button>
</div>
