.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
    padding: 0;
}

.mat-form-field {
    width: 100%;
}

.mat-radio-group{
    display:flex;
    width:100%;
    justify-content: space-between;
  }