<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" style="background-color: #262626">
      <mat-card-header>
        <mat-card-title>{{ mode }} menu item</mat-card-title>
      </mat-card-header>
  
      <form [formGroup]="createForm" class="example-form" (ngSubmit)="createMenuItem()">
        <mat-card-content>
            <div>
                <label>Menu item type: </label>
                <mat-radio-group [formControl]="menuItemType">
                    <mat-radio-button value="food">Food</mat-radio-button>
                    <mat-radio-button value="drink">Drink</mat-radio-button>
                </mat-radio-group>
            </div>

            <mat-form-field class="example-full-width">
                <input matInput
                    placeholder="Name"
                    [formControl]="name"
                    required>
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
                <input matInput
                    type="number"
                    step="0.01"
                    min="0"
                    [formControl]="suggestedPrice"
                    placeholder="Suggested price (RSD)"
                    required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput
                    placeholder="Allergens"
                    [formControl]="allergens"
                    required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput
                    type="number"
                    [formControl]="waitingTime"
                    min="0"
                    placeholder="Waiting time (in minutes)"
                    required>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <!-- <mat-label>Number</mat-label> -->
                <input type="text"
                       placeholder="Category"
                       matInput
                       [formControl]="category"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let categoryOption of filteredCategoryOptions | async" [value]="categoryOption">
                    {{categoryOption}}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <div>
                <label>Availability: </label>
                <mat-radio-group [formControl]="available">
                    <mat-radio-button value="available">Ready to be served</mat-radio-button>
                    <mat-radio-button value="unavailable">Out of stock</mat-radio-button>
                </mat-radio-group>
            </div>

            <mat-form-field class="example-full-width">
                <textarea matInput
                    placeholder="Ingredients"
                    [formControl]="ingredients"
                    required>
                </textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput
                    type="number"
                    step="0.01"
                    min="0"
                    [formControl]="ingredientCost"
                    placeholder="Total ingredient cost (RSD)"
                    required>
            </mat-form-field>

            <mat-form-field>
                <div>
                  <mat-toolbar>
                    <input matInput [value]="selectedFileName.length ? selectedFileName : 'Select menu item picture'" />
                  </mat-toolbar>
              
                  <input
                    type="file"
                    id="fileInput"
                    name="fileInput"
                    accept="image/*" 
                    (change)="selectFile($event)"
                    [formControl]="fileControl"
                  />
                </div>
            </mat-form-field>

            <div>
                <img [src]="preview" class="preview" height="200px">
            </div>
        </mat-card-content>
        <button type="submit" mat-stroked-button class="btn-block"
        [disabled]="createForm.invalid">{{ mode }}</button>
      </form>
    </mat-card>
</div>