<div style="margin: 20px;" class="content">
  <mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile>
      <button mat-button color="accent" (click)="prevPage()"><mat-icon>skip_previous</mat-icon></button>
      Page {{currentPage}}/{{totalPages}}
      <button mat-button color="accent" (click)="nextPage()"><mat-icon>skip_next</mat-icon></button>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="userRole != 'ROLE_WAITER'">
      <p style="margin: 20px">Show:</p>
      <mat-button-toggle-group [(ngModel)]="criteria" (ngModelChange)="onChange($event)" aria-label="Font Style">
        <mat-button-toggle value="Any">Any</mat-button-toggle>
        <mat-button-toggle value="PLACED">Placed order items</mat-button-toggle>
        <mat-button-toggle value="ACCEPTED">Accepted order items</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-grid-tile>
  </mat-grid-list>

  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div *ngFor=" let orderItem of displayedOrderItems" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{orderItem.menuItem.name}}</mat-card-title>
        </mat-card-header>
        <img src="../../assets/food.png" alt="food image" mat-card-image *ngIf="orderItem.menuItem.food">
        <img src="../../assets/drink.png" alt="drink image" mat-card-image *ngIf="!orderItem.menuItem.food">
        <mat-divider inset></mat-divider>
        <mat-card-content>
          <p style="margin-top: 10px">Note for the staff: {{orderItem.noteIn}}</p>
          <p>Amount to prepare: {{orderItem.quantity}}</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button color="primary" *ngIf="orderItem.orderStatus=='PLACED'" (click)="acceptOrderItem(orderItem.id)">Accept order item</button>
          <button mat-button color="primary" *ngIf="orderItem.orderStatus=='ACCEPTED'" (click)="readyOrderItem(orderItem.id)">Order item is prepared!</button>
          <button mat-button color="primary" *ngIf="orderItem.orderStatus=='READY'" (click)="receiveOrderItem(orderItem.id)">Receive</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
