<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" style="background-color: #262626">
      <mat-card-header>
        <mat-card-title>{{ mode }} menu</mat-card-title>
      </mat-card-header>
  
      <form [formGroup]="createForm" class="example-form" (ngSubmit)="createMenu()">
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <input matInput
                    placeholder="Name"
                    [formControl]="name"
                    required>
            </mat-form-field>
        </mat-card-content>
        <button type="submit" mat-stroked-button class="btn-block"
        [disabled]="createForm.invalid">{{ mode }}</button>
      </form>
    </mat-card>
</div>