<mat-grid-list cols="2" rowHeight="10:1">
  <mat-grid-tile colspan="2" rowspan="1">
    <mat-button-toggle-group [(ngModel)]="selected" (ngModelChange)="onChange($event)" aria-label="Reports" multiple>
      <mat-button-toggle id="roleButton" value="Role">Role</mat-button-toggle>
      <mat-button-toggle id="userButton" value="User">Employee</mat-button-toggle>
      <mat-button-toggle id="menuButton" value="MenuItem">Menu Item</mat-button-toggle>
      <mat-button-toggle id="menuPrepareButton" value="MenuItemPrepare">Menu Item Prepare Cost</mat-button-toggle>
      <mat-button-toggle id="menuPriceButton" value="MenuItemPrice">Menu Item Sold</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="2:1">
  <div *ngIf="roleReportDisplay">
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="rangeRole" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-label style="margin:20px">Role</mat-label>
      <mat-select style="margin:20px; width: 100px" [(ngModel)]="role">
        <mat-option *ngFor="let role of roles" [value]="role">
          {{role.toUpperCase()}}
        </mat-option>
      </mat-select>

      <button mat-stroked-button style="margin:20px" (click)="generateReport()">Generate report</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <ngx-charts-bar-vertical
        [view]="view"
        [results]="data"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        style="fill: #ffffff;"
      >
      </ngx-charts-bar-vertical>
    </mat-grid-tile>
  </div>
  <div *ngIf="usernameReportDisplay">
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="rangeUsername" [rangePicker]="pickerUsername">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="pickerUsername"></mat-datepicker-toggle>
        <mat-date-range-picker #pickerUsername></mat-date-range-picker>
      </mat-form-field>
      <mat-label style="margin:20px">Username</mat-label>
      <input matInput style="width: 100px;" [(ngModel)]="username"/>

      <button mat-stroked-button style="margin:20px" (click)="generateReportUsername()">Generate report</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <ngx-charts-bar-vertical
        [view]="view"
        [results]="dataUsername"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel1"
        [yAxisLabel]="yAxisLabel"
        style="fill: #ffffff;"
      >
      </ngx-charts-bar-vertical>

    </mat-grid-tile>
  </div>
  <div *ngIf="menuItemReportDisplay">
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="rangeMenuItem" [rangePicker]="pickerMenu">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="pickerMenu"></mat-datepicker-toggle>
        <mat-date-range-picker #pickerMenu></mat-date-range-picker>
      </mat-form-field>
      <mat-label style="margin:20px">Menu Item</mat-label>
      <mat-select style="margin:20px; width: 100px" [(ngModel)]="menuItem">
        <mat-option *ngFor="let role of menuItems" [value]="role">
          {{role}}
        </mat-option>
      </mat-select>

      <button mat-stroked-button style="margin:20px" (click)="generateReportMenuItem()">Generate report</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <ngx-charts-bar-vertical
        [view]="view"
        [results]="dataMenuItem"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabelMenu"
        [yAxisLabel]="yAxisLabelMenu"
        style="fill: #ffffff;"
      >
      </ngx-charts-bar-vertical>

    </mat-grid-tile>
  </div>


  <div *ngIf="menuItemReportDisplayPrepare">
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="rangeMenuItemPrepare" [rangePicker]="pickerMenu">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="pickerMenu"></mat-datepicker-toggle>
        <mat-date-range-picker #pickerMenu></mat-date-range-picker>
      </mat-form-field>
      <mat-label style="margin:20px">Menu Item</mat-label>
      <mat-select style="margin:20px; width: 100px" [(ngModel)]="menuItemPrepare">
        <mat-option *ngFor="let role of menuItems" [value]="role">
          {{role}}
        </mat-option>
      </mat-select>

      <button mat-stroked-button style="margin:20px" (click)="generateReportMenuItemPrepare()">Generate report</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <ngx-charts-bar-vertical
        [view]="view"
        [results]="dataMenuItemPrepare"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabelMenu1"
        [yAxisLabel]="yAxisLabelMenu"
        style="fill: #ffffff;"
      >
      </ngx-charts-bar-vertical>

    </mat-grid-tile>
  </div>

  <div *ngIf="menuItemReportDisplayPrice">
    <mat-grid-tile>

      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="rangeMenuItemPrice" [rangePicker]="pickerMenu">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="pickerMenu"></mat-datepicker-toggle>
        <mat-date-range-picker #pickerMenu></mat-date-range-picker>
      </mat-form-field>
      <mat-label style="margin:20px">Menu Item</mat-label>
      <mat-select style="margin:20px; width: 100px" [(ngModel)]="menuItemPrice">
        <mat-option *ngFor="let role of menuItems" [value]="role">
          {{role}}
        </mat-option>
      </mat-select>

      <button mat-stroked-button style="margin:20px" (click)="generateReportMenuItemPrice()">Generate report</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <ngx-charts-bar-vertical
        [view]="view"
        [results]="dataMenuItemPrice"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabelMenu2"
        [yAxisLabel]="yAxisLabelMenu"
        style="fill: #ffffff;"
      >
      </ngx-charts-bar-vertical>

    </mat-grid-tile>
  </div>


</mat-grid-list>
