<h1 mat-dialog-title>Add a new order</h1>
<div mat-dialog-content>
  <p style="margin-bottom: 10px">Menu items:</p>
  <div class="example-table-container">
    <table mat-table [dataSource]="menu" class="mat-elevation-z8" >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} RSD</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="waitingTime">
        <th mat-header-cell *matHeaderCellDef> Waiting time </th>
        <td mat-cell *matCellDef="let element"> {{element.waitingTime}} min </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="add">
        <th mat-header-cell *matHeaderCellDef> Add to order </th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="accent" (click)="addMenuItemToOrder(element)">
            <mat-icon>plus_one</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedMenuItemColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedMenuItemColumns;"></tr>
    </table>
  </div>

  <section>
    <p style="display: table-cell">Specify the menu item amount:</p>
    <input matInput [(ngModel)]="amount" type="number" style="display: table-cell; margin-left: 10px" (ngModelChange)="onChange($event)">
  </section>
  <section>
    <p style="display: table-cell">Leave a note for the staff:</p>
    <input matInput [(ngModel)]="noteInItem" type="text" style="display: table-cell; margin-left: 10px; width: 400px">
  </section>

  <p style="margin-top: 10px">
    Order items:
  </p>

  <div class="example-table-container">
    <table mat-table [dataSource]="displayedOrderItems" class="mat-elevation-z8" >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef> Note </th>
        <td mat-cell *matCellDef="let element"> {{element.noteIn}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef> Remove from order </th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="warn" (click)="removeMenuItemFromOder(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedOrderItemColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedOrderItemColumns;"></tr>
    </table>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">I've changed my mind</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Add</button>
</div>
