<div>
  <div >
    <div id="r-layout-container" [style.background-image]="'url('+imgUrl+')'" >

      <div class="example-boundary">
        <div *ngFor=" let tablePosition of tablePositions"
             id="tablePosition.id" class="example-box" cdkDragBoundary=".example-boundary" cdkDrag
             [cdkDragFreeDragPosition]="tablePosition.dragPosition"
             (contextmenu)="onContextMenu($event, tablePosition)"
             [cdkDragDisabled]="true"
        >
          Table {{tablePosition.displayName}}
          seats: {{tablePosition.tableType}}
          smoking: {{tablePosition.smoking === true ? "allowed" : "not allowed"}}
        </div>
      </div>
    </div>


  </div>

  <div style="visibility: hidden; position: fixed"
       [style.left]="contextMenuPosition.x"
       [style.top]="contextMenuPosition.y"
       [matMenuTriggerFor]="contextMenu">
  </div>
  <mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-tablePosition="tablePosition">
      <button mat-menu-item (click)="addOrder(tablePosition)">Add order</button>
    </ng-template>
  </mat-menu>
</div>

