<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">


  <mat-card class="box" style="background-color: #262626">
    <mat-card-header>
      <mat-card-title>Change password</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="changePassword()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput
                 placeholder="Old Password"
                 formControlName="old_password"
                 required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput
                 type="password"
                 formControlName="new_password"
                 placeholder="Password"
                 required>
        </mat-form-field>
      </mat-card-content>
      <button type="submit" mat-stroked-button style="width: 100%">Change password</button>
    </form>
  </mat-card>
</div>
