<h1 *ngIf="!newUser" mat-dialog-title>Username {{data[0]}}</h1>


<div *ngIf="newUser">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="username">
  </mat-form-field>
</div>

<div mat-dialog-content [formGroup]="userForm">

  <div *ngIf="!userForm.valid">
    <p style="color: orange">Provide correct input</p>
  </div>


  <p>First name</p>
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input disabled matInput formControlName="firstName">
  </mat-form-field>

  <p>Last name</p>
  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput formControlName="lastName">
  </mat-form-field>
  <p>Email address</p>
  <mat-form-field>
    <mat-label>Email address</mat-label>
    <input matInput formControlName="emailAddress">
  </mat-form-field>
  <p>Role</p>
  <div *ngIf="newUser">
    <mat-form-field>
      <mat-select formControlName="type">
        <mat-option *ngFor="let role of roles" [value]="role">
          {{role}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="!newUser">
    <p>{{this.user.type}}</p>
  </div>
  <p>Wage</p>
  <mat-form-field>
    <mat-label>Wage</mat-label>
    <input type="number" matInput formControlName="wage">
  </mat-form-field>
  <p>Phone number</p>
  <mat-form-field>
    <mat-label>Phone number</mat-label>
    <input matInput formControlName="phoneNumber">
  </mat-form-field>


</div>

<div *ngIf="!newUser" mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Update</button>
</div>

<div *ngIf="newUser" mat-dialog-actions>
  <button mat-button (click)="addNewUser()">Add</button>
</div>
