<div style="margin: 100px;">
    <h1 *ngIf="mode === 'Menu'">Menu items for menu {{ menuName }}</h1>
    <h1 *ngIf="mode !== 'Menu'">Menu items in restaurant</h1>

    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile>
            <input matInput
                placeholder="Name"
                [(ngModel)]="name">
        </mat-grid-tile>

        <mat-grid-tile>
            <input matInput
                placeholder="Allergens"
                [(ngModel)]="allergens">
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-button-toggle-group [(ngModel)]="typeCriteria" aria-label="Font Style">
            <mat-button-toggle value="Any">Any</mat-button-toggle>
            <mat-button-toggle value="Food">Food</mat-button-toggle>
            <mat-button-toggle value="Drink">Drink</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <mat-button-toggle-group [(ngModel)]="availableCriteria" aria-label="Font Style">
              <mat-button-toggle value="Any">Any</mat-button-toggle>
              <mat-button-toggle value="Available">Available</mat-button-toggle>
              <mat-button-toggle value="Unavailable">Unavailable</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-grid-tile>
    
        <mat-grid-tile [colspan]="1">
            <mat-label style="margin-right: 10px;">Category: </mat-label>
          <mat-select [(ngModel)]="selectedCategory">
            <mat-option value="Any">Any</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1">
            <mat-label style="margin-right: 20px;">Sort by: </mat-label>
          <mat-select [(ngModel)]="selectedSortOption">
            <mat-option value="name">
                Name
            </mat-option>
            <mat-option value="price">
                Base price
            </mat-option>
            <mat-option value="waitingTime">
                Waiting time
            </mat-option>
            <mat-option value="ingredientCost">
                Ingredient cost
            </mat-option>
          </mat-select>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-button-toggle-group [(ngModel)]="sortAscOrDesc" aria-label="Font Style">
              <mat-button-toggle value="asc">Ascending</mat-button-toggle>
              <mat-button-toggle value="desc">Descending</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="mode === 'Menu'">
            <mat-button-toggle-group [(ngModel)]="inMenuCriteria" aria-label="Font Style">
              <mat-button-toggle value="Any">Any</mat-button-toggle>
              <mat-button-toggle value="inMenu">In this menu</mat-button-toggle>
              <mat-button-toggle value="notInMenu">Not in this menu</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-grid-tile>
    
        <mat-grid-tile>
          <button mat-button color="primary" (click)="search()"><mat-icon>search</mat-icon>Search</button>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <mat-paginator #paginator
                [length]="totalCount"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 20]"
                style="width: 90%;margin: 0 auto"
                (page)="pageChanged($event)"
                aria-label="Select page">
            </mat-paginator>
        </mat-grid-tile>
    </mat-grid-list>

    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div *ngFor="let menuItem of displayedMenuItems" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card class="mat-elevation-z4">
                <mat-card-header style="margin-bottom: 10px;">
                    <mat-card-title>{{menuItem.name}}</mat-card-title>
                </mat-card-header>
                <div>
                <img src="{{'data:image/png;base64,' + menuItem.image}}" alt="Menu item picture" class="menu-item-image" mat-card-image>
                </div>
                <mat-divider inset></mat-divider>
                <mat-card-content>
                    <p style="margin-top: 5px">Base price: {{menuItem.price}} RSD</p>
                    <p *ngIf="mode === 'Menu' && menuItem.menuId">Price in menu: {{menuItem.priceInMenu}} RSD</p>
                    <p>Ingredients: {{ menuItem.ingredients }}</p>
                    <p>Ingredient cost: {{ menuItem.ingredientCost }} RSD</p>
                    <p>Allergens: {{ menuItem.allergens }}</p>
                    <p>Waiting time: {{ menuItem.waitingTime}} minutes</p>
                    <p>Category: {{ menuItem.category }}</p>
                    <p>Menu item is {{menuItem.available === true ? "AVAILABLE" : "UNAVAILABLE"}}</p>
                    <p>{{menuItem.food === true ? "FOOD" : "DRINK"}}</p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <button *ngIf="mode === 'All'" mat-button color="accent" (click)="editMenuItem(menuItem)">Edit</button>
                    <button *ngIf="mode === 'All'" mat-button color="danger" (click)="deleteMenuItem(menuItem.id)">Delete</button>
                    <button *ngIf="mode === 'Menu' && !menuItem.menuId" mat-button color="primary" (click)="addToMenu(menuItem.id)">Add to menu</button>
                    <button *ngIf="mode === 'Menu' && menuItem.menuId" mat-button color="danger" (click)="removeFromMenu(menuItem.id)">Remove from menu</button>
                    <button *ngIf="mode === 'Menu' && menuItem.menuId" mat-button color="accent" (click)="changePriceInMenu(menuItem.id)">Change menu price</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>