<h1 mat-dialog-title>Price change</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>New price</mat-label>
    <input matInput
        type="number"
        step="0.01"
        min="0"
        [(ngModel)]="data">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>