<div style="margin: 20px;" class="content">
  <mat-grid-list cols="2" rowHeight="100px" rows="9">
    <mat-grid-tile row="1" colspan="2" rowspan="4">
      <img src="../../assets/profile.png" alt="user image">
    </mat-grid-tile>

    <mat-grid-tile row="6">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput disabled [(ngModel)]="userDetails.username">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile row="6">
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput disabled [(ngModel)]="userDetails.mail">
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile row="7">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput disabled [(ngModel)]="userDetails.name">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile row="7">
      <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input matInput disabled [(ngModel)]="userDetails.surname">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile row="8">
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput disabled [(ngModel)]="userDetails.address">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile row="8">
      <mat-form-field appearance="fill">
        <mat-label>Phone number</mat-label>
        <input matInput disabled [(ngModel)]="userDetails.phoneNumber">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile row="9">
      <mat-form-field appearance="fill">
        <mat-label>You are employed as</mat-label>
        <input matInput disabled [(ngModel)]="userDetails.role">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile row="9" *ngIf="userDetails.role != 'ADMIN'">
      <mat-form-field appearance="fill">
        <mat-label>Current wage is</mat-label>
        <input matInput disabled [(ngModel)]="userDetails.wage">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</div>
