<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/login']" *ngIf="userRole == 'ALL'">Log in</a>
      <a mat-list-item (click)="signOut()" [routerLink]="['/login']" *ngIf="userRole != 'ALL'">Sign out</a>
      <a mat-list-item [routerLink]="['/user/profile']" *ngIf="userRole != 'ALL'">Profile</a>
      <a mat-list-item [routerLink]="['restaurant-layout']"
         *ngIf="userRole=='ROLE_ADMIN'"
      >Restaurant layout</a>
      <a mat-list-item [routerLink]="['restaurant-layout-waiter']"
         *ngIf="userRole=='ROLE_WAITER'"
      >Tables</a>
      <a mat-list-item [routerLink]="['/orders']"
         *ngIf="userRole=='ROLE_WAITER'"
      >All orders</a>
      <a mat-list-item [routerLink]="['/order-items/staff']"
         *ngIf="userRole=='ROLE_WAITER' || userRole == 'ROLE_BARMAN' || userRole == 'ROLE_CHEF'"
      >All order items</a>
      <a mat-list-item [routerLink]="['admin/employees']"
         *ngIf="userRole=='ROLE_ADMIN'"
      >Employees</a>
      <a mat-list-item [routerLink]="['manager/createmenuitem']"
      *ngIf="userRole=='ROLE_MANAGER'"
      >Create menu item</a>
      <a mat-list-item [routerLink]="['manager/menuitemview']"
      *ngIf="userRole=='ROLE_MANAGER'"
      >View menu items</a>
      <a mat-list-item [routerLink]="['manager/createmenu']"
      *ngIf="userRole=='ROLE_MANAGER'"
      >Create menu</a>
      <a mat-list-item [routerLink]="['manager/menuview']"
      *ngIf="userRole=='ROLE_MANAGER'"
      >View menus</a>
      <a mat-list-item [routerLink]="['manager/employees']"
         *ngIf="userRole=='ROLE_MANAGER'"
      >Staff</a>
      <a mat-list-item [routerLink]="['manager/reports']"
         *ngIf="userRole=='ROLE_MANAGER'"
      >Reports</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style=" text-align: center;display: flex; justify-content: center">RESTORAN CRVENA MENZA</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
