<div style="margin: 100px;">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile>
            <input matInput
                placeholder="Name"
                [(ngModel)]="name">
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-button-toggle-group [(ngModel)]="activeCriteria" aria-label="Font Style">
            <mat-button-toggle value="Any">Any</mat-button-toggle>
            <mat-button-toggle value="Active">Active</mat-button-toggle>
            <mat-button-toggle value="Inactive">Inactive</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-button-toggle-group [(ngModel)]="sortAscOrDesc" aria-label="Font Style">
              <mat-button-toggle value="asc">Ascending</mat-button-toggle>
              <mat-button-toggle value="desc">Descending</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-grid-tile>
    
        <mat-grid-tile>
          <button mat-button color="primary" (click)="search()"><mat-icon>search</mat-icon>Search</button>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <mat-paginator #paginator
                [length]="totalCount"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 20]"
                style="width: 90%;margin: 0 auto"
                (page)="pageChanged($event)"
                aria-label="Select page">
            </mat-paginator>
        </mat-grid-tile>
    </mat-grid-list>

    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div *ngFor="let menu of displayedMenus" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card class="mat-elevation-z4">
                <mat-card-header style="margin-bottom: 10px;">
                    <mat-card-title>{{menu.name}}</mat-card-title>
                </mat-card-header>
                <div>
                <img src="https://cdn-icons-png.flaticon.com/512/2836/2836601.png" alt="Menu picture" class="menu-image" mat-card-image>
                </div>
                <mat-divider inset></mat-divider>
                <mat-card-content>
                    <p style="margin-top: 5px">{{menu.active === true ? "ACTIVE" : "INACTIVE"}}</p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <button mat-button color="accent" (click)="editMenu(menu)">Edit</button>
                    <button *ngIf="!menu.active" mat-button color="danger" (click)="deleteMenu(menu.id)">Delete</button>
                    <button *ngIf="!menu.active" mat-button color="primary" (click)="activateMenu(menu.id)">Activate</button>
                    <button mat-button color="blue" (click)="manageMenuItems(menu.id, menu.name)">Manage menu items</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>